@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.board {
  background-color: hsl(200, 55%, 70%);
  width: 95vw;
  height: 90vh;
  margin: auto;
  margin-top: 2vh;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 15vh;
  grid-template-areas:
    "menu"
    "player"
    "gameButton";
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
  gap: 30px;
}

.playerPanel {
  justify-content: center;
  gap: 150px;
}

.dice {
  background-image: var(--diceImage);
  background-size: cover;
  width: 100px;
  height: 100px;
}

.diceRoll {
  animation: roll 1s ease-in;
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}

.gameButtonPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  min-width: 250px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 0%);
  font-size: 2.5rem;
  transition: all 200ms ease;
}

.btn:hover {
  background-color: hsla(200, 29%, 90%, 0.15);
  box-shadow: 0 0 4px hsl(0, 0%, 50%);
  transform: scale(1.05);
}

.columnGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.score {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: var(--indicatorColor);
  border-radius: 15px;
}

.playerName {
  display: flex;
  align-items: center;
  gap: 15px;
}

.currentScore {
  font-size: 1.5rem;
  text-align: center;
  min-width: 200px;
  border: 1px solid hsl(0, 0%, 0%);
}

dialog::backdrop { /* native */
  background-color: hsla(120, 5%, 20%, 0.85);
}

dialog + .backdrop { /* polyfill */
  background-color: hsla(120, 5%, 20%, 0.85);
}

.newGameWindow {
  width: 40vw;
  height: 40vh;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.playerNameInput {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.bottomPosition {
  position: absolute;
  bottom: 1rem;
}

label {
  font-size: 1rem;
  font-style: italic;
}
fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
}

.radioLabel {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
}

#warning {
  display: none;
}

.radioSolo {
  display: none;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}