@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.board {
  background-color: hsl(200, 55%, 70%);
  width: 95%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr  15vh;
  grid-template-areas:
    "menu"
    "player"
    "gameButton";
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
  gap: 150px;
}

.dice {
  background-color: hsl(0, 0%, 50%);
  width: 100px;
  height: 100px;
}

.gameButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  min-width: 250px;
  text-align: center;
  padding: 10px;
  background-color: hsl(200, 30%, 90%);
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: 0 0 4px hsl(0, 0%, 50%);
  font-size: 2.5rem;
}

.score {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
}

.indicator {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 15px;
}

.playerName {
  display: flex;
  align-items: center;
  gap: 15px;
}

.currentScore {
  font-size: 1.5rem;
  text-align: center;
  min-width: 200px;
  border: 1px solid hsl(0, 0%, 0%);
}
